---
type SliderProps = {
  direction?: 'toleft' | 'toright'
}
const { direction = 'toleft' }: SliderProps = Astro.props
---

<div
  class='slider w-full overflow-hidden whitespace-nowrap leading-none'
  data-direction={direction}
>
  <div
    class='sliderContent text-big font-secondary inline-block whitespace-nowrap text-nowrap font-black uppercase'
  >
    <div class='[&>span]:text-primary [&>span]:inline-block [&>span]:px-4 inline-flex'>
      <span>4</span>clubs<span>45</span>min workout<span>20</span>activities
    </div>
  </div>
</div>

<script>
  import { $, $$ } from '@/lib/dom-selector'

  const sliders = $$('.slider') as NodeListOf<HTMLElement>

  sliders.forEach((slider) => {
    const direction = slider.dataset.direction
    const sliderTrack = $('.sliderContent', slider) as HTMLElement
    if (!sliderTrack) return

    sliderTrack.classList.add('animate-marquee')
    sliderTrack.style.animationDirection =
      direction === 'toright' ? 'reverse' : ''
    slider.appendChild(sliderTrack.cloneNode(true) as HTMLElement)
  })
</script>
