---
import Bonuss from '@/components/Bonuss.astro'
---

<section id='bonuses' class='pt-40'>
  <div class='container flex max-w-7xl items-center flex-col justify-center md:min-h-screen relative'>
    <h2 class='text-big font-secondary text-center uppercase leading-none'>
      <span class='text-primary block'>bonuses</span>{' '} for you
    </h2>
    <Bonuss className="flex flex-wrap gap-4 content-center items-center justify-center container max-w-7xl mt-16" />
  </div>
</section>
