---
import Slider from '@/components/Slider.astro'
---

<section id='carrousel' class='relative'>
  <div
    class='relative top-40 mx-auto w-full overflow-hidden mask-fade-center md:w-2/3'
  >
    <div
      class='pointer-events-none absolute inset-0 z-10 bg-black/40 mix-blend-multiply'
    >
    </div>
    <img class='size-full object-cover' src='/banner.webp' alt='' />
  </div>
  <Slider />
  <Slider direction='toright' />
</section>
