<section id='hero'>
  <div>
    <header class='container max-w-7xl pt-24 text-center relative'>
      <h1
        class='font-secondary overflow-hidden text-big leading-none'
        aria-label="It's not fitness, It's life"
      >
        <div
          aria-hidden='true'
          id='textCrossed'
          class='ease-bezier relative overflow-hidden transition-transform duration-500 before:absolute before:left-0 before:top-1/2 before:h-4 before:w-full before:origin-left before:-translate-y-1/2 before:scale-x-0 before:bg-black before:transition-transform before:delay-500 before:duration-1000'
        >
          <div class='translate-y-full transition-transform duration-500'>
            IT&apos;S NOT FITNESS
          </div>
        </div>
        <div
          id='textPerm'
          class='text-primary ease-bezier translate-y-full transition-transform delay-1000 duration-500'
          aria-hidden='true'
        >
          IT&apos;S LIFE.
        </div>
      </h1>
    </header>

    <figure class='-mt-16 max-w-7xl mx-auto'>
      <video
        src='/videos/hero.webm'
        autoplay
        muted
        loop
        playsinline
        class='aspect-video shadow-lg'
      >
        Your browser does not support the video tag.
      </video>
      <!-- opcional -->
      <figcaption class='mt-2 text-center text-sm text-white/40'>
        A short video showing our core philosophy in motion.
      </figcaption>
    </figure>
  </div>
</section>

<script>
  import { initHeroAnimation } from '@/animations/heroAnimations'
  initHeroAnimation()
</script>
